
240 B
# Created by https://www.toptal.com/developers/gitignore/api/macos,node,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,node,visualstudiocode
### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride